@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 12% 97%;
    --foreground: 330 13% 6%;
    --card: 300 12% 97%;
    --card-foreground: 330 13% 6%;
    --popover: 300 12% 97%;
    --popover-foreground: 330 13% 6%;
    --primary: 321 14% 29%;
    --primary-foreground: 300 12% 97%;
    --secondary: 139 13% 67%;
    --secondary-foreground: 330 13% 6%;
    --muted: 300 12% 20%;
    --muted-foreground: 328 12% 70%;
    --accent: 203 13% 48%;
    --accent-foreground: 330 13% 6%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 330 13% 6%;
    --border: 300 12% 20%;
    --input: 300 12% 20%;
    --ring: 203 13% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 300 14% 3%;
    --foreground: 330 13% 94%;
    --card: 300 14% 3%;
    --card-foreground: 330 13% 94%;
    --popover: 300 14% 3%;
    --popover-foreground: 330 13% 94%;
    --primary: 319 13% 71%;
    --primary-foreground: 300 14% 3%;
    --secondary: 139 13% 33%;
    --secondary-foreground: 330 13% 94%;
    --muted: 300 14% 80%;
    --muted-foreground: 330 13% 94%;
    --accent: 203 13% 52%;
    --accent-foreground: 300 14% 3%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 326 14% 10%;
    --border: 300 14% 60%;
    --input: 300 14% 80%;
    --ring: 203 13% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
